:root{
    --primary-orange: hsl(25, 97%, 53%);
    --neutral-light-grey: hsl(217, 12%, 63%);
    --neutral-medium-grey: hsl(216, 12%, 54%);
    --neutral-dark-blue: hsl(213, 19%, 18%);
    --neutral-dark-blu3: hsl(215, 22%, 15%);
    --neutral-very-dark-blue: hsl(216, 12%, 8%);
}